body {
  font-family: monospace, sans-serif;
  background: rgb(192, 151, 249);
  font-weight: bolder;
}

.card {
  width: 500px;
  margin: 60px auto;
  padding: 40px;
  border: 4px solid #9ad4e5;
  border-radius: 40px;
}

h1 {
  color: rgb(75, 3, 86);
  text-align: center;
  size: 72;
  margin-top: 5px;
  letter-spacing: 1px;
}

label {
  display: inline-block;
  width: 90px;
  margin-bottom: 15px;
}

input[type="number"] {
  background-color: #e0b1fb;
  width: 160px;
  padding: 4px;
}

.symbol {
  margin-left: 10px;
}

button {
  background-color: blueviolet;
  color: #fff;              /* text */
  border: 2px solid #fff;
  margin-left: 10px;
  padding: 5px 14px;
  cursor: pointer;
}

button:hover {
  background-color: #667dfc;
}

button:active {
  background-color: #00bbff;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #f2ff00; /* focus ring */
}


.output {
  font-weight: 900;
  font-size: 72;
  text-align: center;
}

#toast {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: #511370;
  color: #ffffff;
  padding: 10px 16px;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

#toast.show {
  opacity: 1;
}

.slice-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}

.slice-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.slice-label {
  display: flex;
  align-items: center;
  height: 28px;   /* forces vertical centering */
}

.slice-row input {
  width: 70px;
  height: 28px;
  text-align: center;
}

#result,
#slicedPassword {
  width: 220px;   /* SAME WIDTH */
  height: 28px;
  text-align: center;
}
