body {
  font-family: monospace, sans-serif;
  background: rgb(192, 151, 249);
}

.card {
  width: 500px;
  margin: 60px auto;
  padding: 40px;
  border: 4px solid #9ad4e5;
  border-radius: 40px;
}

h2 {
  color: rgb(75, 3, 86);
  text-align: center;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

label {
  display: inline-block;
  width: 90px;
  margin-bottom: 15px;
}

input[type="number"] {
  background-color: #e0b1fb;
  width: 160px;
  padding: 4px;
}

.symbol {
  margin-left: 10px;
}

button {
  background-color: blueviolet;
  margin-left: 10px;
  padding: 5px 14px;
  cursor: pointer;
}

.output {
  font-weight: 900;
  font-size: 48;
  text-align: center;
}
